body {
    font-family: 'quicksand',Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-image:url("../imgs/back.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1000px;
    height: 1000px;
    text-align: center;
    position: relative;
  }
 
/* 携帯画像 */
.img1 {
    width: 360px;
    z-index: 2;
    position: absolute;
}

/* 山のイラスト */
.img2 {
    width: 300px;
    z-index: 4;
    position: relative;
    top: 10px;
    left: 5px    
}

/* 携帯画面背景 */
.view {
    background-color: #ebebeb;
    width: 315px;
    height: 679px;
    margin-top: 50px;
    margin-left: 520px;
    z-index: 3;
    position: relative;
    top: 16px;
    border-radius: 2em;
}

.main {
    height: 600px;
}
  
header {
    background: #4949ac;
    height: 70px;
    display: flex;
    border-radius: 2em 2em 0 0;
  }

/* チャットルームNoとIDの表示  */
.name{
    display: flex;

}
/* MAPロゴ */
  h1{
    font-size: 16px;
    text-align: center;
    margin: 26px 0;
    color: #dde6ec;
    letter-spacing: .3em;
  }

/* MyID */
  h2{
    font-size: 30px;
    text-align: center;
    margin: 20px;
    color: #dde6ec;
  }
  
  /* メイン画面 フッター固定*/
  

  /*マップのフィールド*/
#field, #gmap {
  width: 100%;
  height: 609px;
  padding: 7px 0 14px;
  box-sizing: border-box;
  border-radius: 0 0 3em 3em;
}
  #nav-drawer {
    position: relative;
    margin: 10px;
  }
  
  /*チェックボックス等は非表示に*/
  .nav-unshown {
    display:none;
  }
  
  /*アイコンのスペース*/
  #nav-open {
    display: inline-block;
    width: 30px;
    height: 22px;
    vertical-align: middle;
    margin: 15px 0 15px 15px;
  }
  
  /*ハンバーガーアイコン*/
  #nav-open span, #nav-open span:before, #nav-open span:after {
    position: absolute;
    height: 3px;/*線の太さ*/
    width: 25px;/*長さ*/
    border-radius: 3px;
    background: #aea2f3;
    display: block;
    content: '';
    cursor: pointer;
  }
  #nav-open span:before {
    bottom: -8px;
  }
  #nav-open span:after {
    bottom: -16px;
  }
  
  /*閉じる用の薄黒カバー*/
  #nav-close {
    display: none;/*はじめは隠しておく*/
    position: fixed;
    z-index: 99;
    top: 0;/*全体に広がるように*/
    left: 0;
    width: 100%;
    height: 100%;
    background: black;
    opacity: 0;
    transition: .01s ;
  }
  
  /*中身*/
  #nav-content {
    position: relative;  
    overflow: auto;
    position: fixed;
    top: 130px;
    z-index: 9999;/*最前面に*/
    width: 200px;/*右側に隙間を作る（閉じるカバーを表示）*/
    height: 400px;
    background: rgb(247, 224, 203);
    transition: .01s;/*表示*/
    transform: translateX(-400%);/* 左に隠しておく */
    border-radius: 0.5em;
    font-size: 16px;
    letter-spacing: .1em;
    line-height: 3em;
    text-align: left;
    margin: 5px 0 0 -10px;;
  }
  
  /*チェックが入ったらもろもろ表示*/
  #nav-input:checked ~ #nav-close {
    display: block;/*カバーを表示*/
    opacity: .5;
  }
  
  #nav-input:checked ~ #nav-content {
    -webkit-transform: translateX(0%);
    transform: translateX(0%);/*中身を表示（右へスライド）*/
    box-shadow: 6px 0 25px rgba(0,0,0,.15);
  }
  
  /* 検索メニュー */
  .search-area input[type="text"] {
    padding: 5px 5px 3px;
    font-size: 16px;
    border: 1px solid #D6D6D6;
    margin: 20px 10px 0 10px;
  }
  
  .search-area input[type="text"]:focus {
    background: #F9F9F9;
  }
  

  
  .hit-num__text span {
    font-weight: bold;
  }
  
  #search-result__list {
    margin-bottom: 10px;
  }
  
  #search-result__list span {
    display: inline-block;
    margin-right: 15px;
    padding: 5px;
    background: #F2F2F2;
  }
  
  .target-area {
    margin-top: 20px;
  }
  
  .target-area .hidden {
    display: none
  }


  /* Myメニュー検索結果 */
  a {
    text-decoration: none;
    color: slategrey;
  }

  a:hover {
      color: tomato;
  } 
  
  /* ここからマップの情報ウインドウ */
  #infowindw_1 h3{
    border: 1px solid #999;
    /* width: 150px;
    padding: 30px; */
    color: firebrick;
  }
  
  #iw_wrapper li{
    display: none;
  }

  .img3{
    width: 60px;
    height: 60px;
  }
  #infowindw_2 h3{
    border: 1px solid #999;
    /* width: 150px;
    padding: 30px; */
    color: rgb(209, 143, 88);
  }
  
  #iw_wrapper li{
    display: none;
  }

  .img3{
    width: 60px;
    height: 60px;
  }

